.App {
  min-height: 100vh;
  /* background-color: #4d4c7d; */
  background-color: #394867;
  color: white;
}

.body {
  position: fixed;
  display: grid;
  /* grid-gap: 2%; */
  grid-template-columns: 40% 60%;
  height: 73%;
  width: 100%;
  padding-top: 5%;
  /* background-color: #4d4c7d;
   */
  background-color: #394867;
}

.footer {
  text-align: center;
  border-radius: 10px;
  /* background-color: #363062; */
  background-color: #162447;
  position: fixed;
  bottom: 2px;
  left: 2px;
  right: 2px;
  height: 20%;
  margin-bottom: 0px;
  display: grid;
  grid-template-columns: 14.285% 14.285% 14.285% 14.285% 14.285% 14.285% 14.285%;
}

.footer-icons {
  font-size: 3rem;
  margin-top: 16%;
  margin-bottom: 5%;
  cursor: pointer;
}

.footer-dates {
  font-family: sans-serif;
  font-size: 1.2rem;
  margin-top: 10%;
  margin-bottom: 3%;
  cursor: pointer;
}

.weather-sum {
  height: 100%;
  border-right: 0.1px solid white;
}

.weather-sum-degree {
  margin-top: 12%;
  text-align: center;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  font-size: 550%;
  margin-left: 10%;
}

.weather-sum-description {
  margin-top: 3%;
  text-align: center;
  font-size: 180%;
  font-family: sans-serif;
  text-transform: capitalize;
}

.weather-sum-Low-High {
  margin-top: 2%;
  text-align: center;
  font-size: 150%;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-sum-button {
  margin-top: 5%;
}

.weather-details {
  margin-left: 2%;
  margin-right: 2%;
}

.weather-details-header {
  text-align: center;
  font-size: 180%;
  font-family: sans-serif;
  text-transform: capitalize;
}

.weather-details-body {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30%;
  height: 100%;
}

.weather-details-icon {
  font-size: 500%;
  justify-self: center;
  align-self: center;
}

.weather-details-main-info {
  justify-self: start;
  align-self: center;
}
